body{
  background-color: #ff9494
}
body{
  font-size: larger;
}
#Neyojpeg{
  border: 10px solid red;
  width: 280px;
  height: 300px;
  margin: 20px;
  padding: 10px;
}

#albumYearoftheGentleman{
  border: 10px solid red;
  width: 280px;
  height: 290px;
  margin: 20px;
  padding: 10px;
}